<div class="row main">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <h2 class="title">Забыли пароль?</h2>
          <hr />
        </div>
      </div>
      <div class="main-login main-center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>


      <div class="form-group">
            <%= f.label :Ваш_Email, class: "cols-sm-2 control-label" %>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <%= f.email_field :email, autofocus: true, class: "form-control"%>
              </div>
            </div>
          </div>




          <div class="form-group ">
            <%= f.submit "Отправить сообщения", class: "btn btn-primary btn-lg btn-block login-button" %>
          </div>
          <div class="login-register">
            <%= render "devise/shared/links" %>
          </div>

        <% end %>
      </div>
    </div>
