
  <div class="jumbotron">
    <h2>Разработка web-сайтов, написание программ, решение задач по математике!</h2>
    <p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> "Решаем сложные задачи просто и быстро!"</p>
  </div>


  <div class="contrainer-fluid">
    <div class="row">
      <div class="col-xs-6">
       <h3> <ul class="list-group">
         <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Landing page', typework_landing_page_path %></li>
         <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Сайт визитка', typework_site_card_path %></li>
         <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Интернет магазин', typework_shop_path %></li>
         <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Программы на с++, с#, java, python, ruby, ror, php', typework_programms_path %></li>
      </ul></h3>
      </div>
      <div class="col-xs-6">
      <h3>  <ul class="list-group">
          <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Дипломные работы', typework_diploma_path %></li>
          <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Курсовая работы', typework_exchange_rate_path %></li>
          <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Переводы на или с английского', typework_text_translation_path %></li>
          <li class="list-group-item"><%= link_to content_tag(:span," ", class: "glyphicon glyphicon-ok") + ' Решение задач по математике (мат анализ, дифуры, линейная алгебра, тер вер, мат стат.)', typework_problem_solving_path %></li>
      </ul></h3>
      </div>
    </div>
  </div>

